@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.woff2") format("woff2"), url("../fonts/Lobster.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "ClassicaOne";
  src: url("../fonts/ClassicaOne.woff2") format("woff2"), url("../fonts/ClassicaOne.woff") format("woff");
  font-weight: bolder;
}
@font-face {
  font-family: "KudryashevDisplay";
  src: url("../fonts/KudryashevDisplay.woff2") format("woff2"), url("../fonts/KudryashevDisplay.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #e5e5e5;
  font-family: Montserrat;
  position: relative;
}

.center {
  padding-left: calc(50% - 496px);
  padding-right: calc(50% - 496px);
}

.hidden {
  display: none;
  z-index: -10;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background-color: #ebcea3;
  position: relative;
}
.header__block {
  padding: 19px 0 10px 0;
}
.header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.header__contacts_item {
  border: 1px solid #67473b;
  width: 35px;
  margin-left: 11px;
}
.header__logo {
  width: 90px;
  height: auto;
}
.header__burger:hover {
  cursor: pointer;
}
.header__burger:hover path {
  fill: #fff;
}
.header__cross {
  background-color: #67473b;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}
.header__cross:hover path {
  fill: #2b7f4e;
}
.header__menu {
  width: 423px;
  background-color: #F4F2F3;
  position: absolute;
  top: 95px;
  right: 0;
}
.header__links {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-bottom: 50px;
}
.header__link {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  display: block;
}
.header__link:hover {
  color: #67473b;
}

.hero {
  height: 582px;
  background: url("../img/main-img.jpg") no-repeat;
  background-position: center;
}
.hero__title {
  color: rgb(255, 255, 255);
  font-family: ClassicaOne;
  font-size: 48px;
  font-weight: 600;
  line-height: 115.9%;
  text-align: left;
  padding-top: 191px;
}
.hero__icons {
  padding-top: 46px;
  display: flex;
  gap: 30px;
}
.hero__icon:hover path {
  fill: #f7f0f0;
}

.discount {
  margin-top: 42px;
  margin-bottom: 42px;
}
.discount__title {
  color: #67473b;
  font-size: 24px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: center;
}
.discount__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding-top: 19px;
}
.discount__name {
  color: rgb(206, 206, 206);
  font-size: 15px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: left;
  display: flex;
  gap: 23px;
}
.discount__text {
  border-bottom: 1px solid #000;
}
.discount__button {
  border-radius: 30px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  background: #67473b;
  color: rgb(252, 247, 247);
  font-size: 15px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 200px;
}

.services {
  margin-bottom: 60px;
}
.services__title {
  color: #67473b;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
}
.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}

.service__item {
  box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.3);
}
.service__name {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.service__image {
  width: 100%;
}

.interior {
  margin-bottom: 60px;
}
.interior__title {
  color: #67473b;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.interior__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.interior__image {
  width: 100%;
  height: 350px;
}
.interior__item2 {
  grid-column: span 2/span 2;
}
.interior__item3 {
  grid-column: span 2/span 2;
  grid-row-start: 2;
}
.interior__item4 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.products-slider {
  margin-bottom: 60px;
}
.products-slider__carousel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 30px;
  margin-left: -65px;
  margin-right: -65px;
}
.products-slider__title {
  color: #67473b;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.products-slider__title-signature {
  font-size: 24px;
}
.products-slider__button {
  border-radius: 30px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  background: #67473b;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.product__slide {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 6px 5px 18px 11px;
}
.product__price {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 93.9%;
  text-align: left;
  margin: 12px 0 12px;
}
.product__name {
  color: rgb(167, 167, 167);
  font-size: 15px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
}
.product__description {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  margin: 4px 0 18px 0;
}
.product__button {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background: #67473b;
  color: #fff;
  padding: 4px;
  width: 140px;
  text-align: center;
  display: block;
}

.masters-main {
  margin-bottom: 100px;
}

.masters {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}
.masters__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 588px;
}
.masters__list {
  display: flex;
  gap: 20px;
}
.masters__item {
  width: 550px;
}

.master__menu {
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.master__link {
  border-bottom: 1px solid #67473b;
  font-size: 14px;
  font-weight: 600;
  line-height: 115.9%;
}
.master__link a {
  color: rgb(0, 0, 0);
}
.master__title {
  color: #67473b;
  font-family: KudryashevDisplay;
  font-size: 48px;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.master__name {
  color: #67473b;
  font-family: KudryashevDisplay;
  font-size: 24px;
  padding-bottom: 15px;
  text-align: left;
}
.master__experience {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 43px;
}
.master__info {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.reviews {
  position: fixed;
  top: 0;
  left: 0;
}
.reviews__main {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
.reviews__close {
  color: #67473b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.reviews__close:hover {
  color: #bc3817;
  cursor: pointer;
}
.reviews__button {
  margin-top: 10px;
  border-radius: 50px;
  width: 100px;
  padding: 35px 0 35px 0;
  background-color: #67473b;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  letter-spacing: 1.5px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
}
.reviews__button:hover {
  border: 2px solid #c32424;
}

.contacts {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #ebcea3;
}
.contacts__title {
  color: #67473b;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.contacts__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.contacts__items h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
}
.contacts__items p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-top: 10px;
}
.contacts__icons {
  display: flex;
  flex-direction: row;
  gap: 23px;
  padding-top: 10px;
}
.contacts__map {
  box-sizing: border-bo;
  border: 6px solid #67473b;
  width: 500px;
  position: relative;
}

.footer {
  background-color: #ebcea3;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.footer__img {
  width: 300px;
}

@media (min-width: 736px) and (max-width: 991px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    gap: 20px;
  }
  .header__block {
    padding: 19px 0 10px 0;
  }
  .header__contacts {
    gap: 5px;
    font-size: 12px;
  }
  .header__contacts_item {
    width: 15px;
    margin-left: 8px;
  }
  .header__links {
    gap: 24px;
  }
  .products-slider {
    margin-bottom: 60px;
  }
  .products-slider__carousel {
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .product__slide {
    width: 200px;
  }
}
@media (max-width: 735px) {
  .center {
    padding-left: calc(50% - 179px);
    padding-right: calc(50% - 179px);
  }
  .products-slider {
    margin-bottom: 60px;
  }
  .products-slider__carousel {
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}