@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster.woff2") format("woff2"), url("/fonts/Lobster.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "ClassicaOne";
  src: url("/fonts/ClassicaOne.woff2") format("woff2"), url("/fonts/ClassicaOne.woff") format("woff");
  font-weight: bolder;
}
@font-face {
  font-family: "KudryashevDisplay";
  src: url("/fonts/KudryashevDisplay.woff2") format("woff2"), url("/fonts/KudryashevDisplay.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #e5e5e5;
  font-family: Montserrat;
}

.center {
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 450px);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.header__block {
  padding: 19px 0 10px 0;
}
.header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
.header__contacts_item {
  border: 1px solid #dd9a9a;
  width: 35px;
  margin-left: 11px;
}
.header__logo {
  width: 53px;
  border-radius: 5px;
}

.hero {
  height: 582px;
  background: url("/img/main-img.jpg") no-repeat;
  background-position: center;
}
.hero__title {
  color: rgb(255, 255, 255);
  font-family: ClassicaOne;
  font-size: 48px;
  font-weight: 600;
  line-height: 115.9%;
  text-align: left;
  padding-top: 191px;
}
.hero__icons {
  padding-top: 46px;
  display: flex;
  gap: 30px;
}
.hero__icon:hover path {
  fill: #f7f0f0;
}

.discount {
  margin-top: 42px;
  margin-bottom: 42px;
}
.discount__title {
  color: #dd9a9a;
  font-size: 24px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: center;
}
.discount__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding-top: 19px;
}
.discount__name {
  color: rgb(206, 206, 206);
  font-size: 15px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: left;
  display: flex;
  gap: 23px;
}
.discount__text {
  border-bottom: 1px solid #000;
}
.discount__button {
  border-radius: 30px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  background: rgb(239, 183, 183);
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 200px;
}

.services {
  margin-bottom: 60px;
}
.services__title {
  color: #dd9a9a;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
}
.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}

.service__item {
  box-shadow: 3px 5px 3px 0px rgba(0, 0, 0, 0.3);
}
.service__name {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.service__image {
  width: 100%;
}

.interior {
  margin-bottom: 60px;
}
.interior__title {
  color: #dd9a9a;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.interior__gallery {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.interior__image {
  width: 100%;
  height: 250px;
}
.interior__item1 {
  grid-column: 1;
}
.interior__item2 {
  grid-column: 2;
}
.interior__item3 {
  grid-column: 1;
}
.interior__item4 {
  grid-column: 2;
  grid-row: 2;
}

.products-slider {
  margin-bottom: 60px;
}
.products-slider__carousel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 30px;
  margin-left: -65px;
  margin-right: -65px;
}
.products-slider__title {
  color: #dd9a9a;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.products-slider__title-signature {
  font-size: 24px;
}
.products-slider__button {
  border-radius: 30px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  background: rgb(239, 183, 183);
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 115.9%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.product__slide {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 6px 5px 18px 11px;
}
.product__price {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 93.9%;
  text-align: left;
  margin: 12px 0 12px;
}
.product__name {
  color: rgb(167, 167, 167);
  font-size: 15px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
}
.product__description {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  margin: 4px 0 18px 0;
}
.product__button {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(239, 183, 183);
  padding: 4px;
  width: 140px;
  text-align: center;
}

.masters-main {
  margin-bottom: 100px;
}

.masters {
  margin-bottom: 60px;
  display: flex;
  gap: 20px;
}
.masters__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 588px;
}
.masters__list {
  display: flex;
  gap: 20px;
}
.masters__item {
  width: 550px;
}

.master__menu {
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.master__link {
  border-bottom: 1px solid #dd9a9a;
  font-size: 14px;
  font-weight: 600;
  line-height: 115.9%;
}
.master__link a {
  color: rgb(0, 0, 0);
}
.master__title {
  color: #dd9a9a;
  font-family: KudryashevDisplay;
  font-size: 48px;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.master__name {
  color: #dd9a9a;
  font-family: KudryashevDisplay;
  font-size: 24px;
  padding-bottom: 15px;
  text-align: left;
}
.master__experience {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 43px;
}
.master__info {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.reviews {
  margin-bottom: 30px;
}
.reviews .show {
  display: block;
  opacity: 1;
}
.reviews__main {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.reviews__close {
  color: #dd9a9a;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.reviews__close:hover {
  color: #bc3817;
  cursor: pointer;
}
.reviews__button {
  border: 1px solid;
}
.reviews__button:hover {
  border: 2px solid #c32424;
}

.contacts {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.contacts__title {
  color: #dd9a9a;
  font-family: KudryashevDisplay;
  font-size: 48px;
  font-weight: 400;
  line-height: 93.9%;
  text-align: left;
  padding-bottom: 37px;
}
.contacts__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.contacts__items h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
}
.contacts__items p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-top: 10px;
}
.contacts__icons {
  display: flex;
  flex-direction: row;
  gap: 23px;
  padding-top: 10px;
}
.contacts__map {
  box-sizing: border-bo;
  border: 6px solid #dd9a9a;
  width: 500px;
  position: relative;
}/*# sourceMappingURL=style.css.map */